VITE_FIREBASE_API_KEY=AIzaSyAVzOoV3eM9FtJJs4_YbsAXyxI8zSDSz14
VITE_FIREBASE_AUTH_DOMAIN=ahlul-athar-foundation-8734b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ahlul-athar-foundation-8734b
VITE_FIREBASE_STORAGE_BUCKET=ahlul-athar-foundation-8734b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=178579695867
VITE_FIREBASE_APP_ID=1:178579695867:web:29b15b7ef81198c5aaa85e
